.clearfix::after {
content: "";
display: table;
clear: both;
}

.header, .main-content, .sidebar, .footer {
    background-color: lightskyblue;
/* 1 rem margin on top and bottom, 0 on left and right */
    margin: 1rem 0;
}

.header {
    height: 100px;
}

.main-content {
    height: 300px;
}

.sidebar {
    height: 300px;
}

.footer {
    height: 100px;
}

@media screen and (min-width: 700px) {
    .main-content {
        width: 70%;
        float: left;
    }
    .sidebar {
        width: 29%;
        float: right;
    }
}