h1 {
    font-size: 2.5rem;
    color: cornflowerblue;
}
@media screen and (max-width: 699px) {
    /* styles for max width 699 px and under */
     h1 {
        color:maroon;
    }
}
@media screen and (min-width: 699px) {
    /* styles for min width 699px and over */
    h1 {
        color:darkblue;
    }
}
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 3.5rem;
    }
}

/* mobile: bg - purple, color - white
tablet 799: bg - red, color - white
laptop 1299: bg - green, color - gray*/

/* for 900-1000px change the bg to white and color to black* */

.newsDescription{
    background-color: purple;
    color: aliceblue
}
@media screen and (min-width: 799px) {
    .newsDescription {
        background-color: red;
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    .newsDescription {
        background-color: white;
        color: black;
    }
}

@media screen and (min-width: 1299px) {
    .newsDescription {
        background-color: green;
        color: gray;
    }
}
