/* formats body text and background color */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#aad4cf;
}
/* formats wrapper size and background color */
.wrapper {
    background-color: #d4e9e7;
    width: 70%;
    margin: 0 auto;
}
/* formats navigation list */
nav ul {
    text-align: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 5px;
    margin: 0;
    font-size: 1.25em;
/* formats navigation list item display */
}
nav li {
    display: inline-block;
}
nav li:nth-child(2) {
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 0px 150px;
}
nav a:link {
    text-decoration: none;
    color: black;
}
nav a:visited {
    color: black;
}
/* floats image beside article paragraph */
article img{
  width: 200px;
  float: left;
  padding:0px 15px 15px 0px;
}
/* formats page footer */
main, footer{
   padding: 10px; 
}
footer{
   text-align: right;  
}
/* https://www.w3schools.com/howto/howto_css_image_text.asp to hover image over text in header */
header {
    text-align: center;
    position:relative;
}
h1 {
    color: white;
    font-size: 3em;
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* makes page header image full width */
header img {
    width: 100%;
}
/* formats form */
form>div {
    border: 1px solid black;
    padding: 10px;
}
form>div div:first-child *{
    display: block;
    padding: 10px 0px;
}
/* * means all children of the div */
form>div div:first-child input {
    width: 100%;
}
form>div div:first-child textarea {
    width: 100%;
    resize: none;
}
/* formats form button */
form>div button {
    background-color: #d4e9e7;
    border: 1px solid black;
    font-size: 0.6em;
    padding: 10px;
    margin-top: 10px
}