body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#aad4cf;
}
.wrapper {
    background-color: #d4e9e7;
    width: 70%;
    margin: 0 auto;
}
nav ul {
    text-align: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* Why doesn't this work to remove the ul list indentation? */
}
nav li {
    display: inline-block;
}
nav li:nth-child(2) {
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 0px 150px;
}
nav a:link {
    text-decoration: none;
    color: black;
}
nav a:visited {
    color: black;
}
article img{
  width: 200px;
  float: left;
  padding:0px 25px 25px 0px;
}
main, footer{
   padding: 10px; 
}