/* Adds CSS reset copy/pasted from IMDAC
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* My CSS starts here */

/* after css reset, creates universal style values */
h1 {
    font-size: 70px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

h4 {
    font-size 20px;
    font-weight: bold;
}

p {
    font-size 16px;
}

.wrapper {
    margin: auto;
    width: 80%;
}

/* changes body text to google fonts open sans */
body {
    font-family: "Open Sans", sans-serif;
}

/* styles buttons universally */
.button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

/* styles triangle icons in buttons universally */
.button i.material-icons {
    font-size: 2em;
    /* unable to move the triangles down to be in-line with text */
}

.button:link,
.button:visited {
    text-decoration: none;
    color: white;
}

/* styles specific buttons */
#services .button {
    background-color: black;
}

#vision .button {
    border: 2px solid rgba(199, 140, 6, 1);
    background-image: linear-gradient(to right, #0f1828, #16314d);
}

#banner .button {
    color: black;
    background-color: rgba(199, 140, 6, 1);
}

#contact form button {
    background-color: black;
    color: rgba(199, 140, 6, 1);
    font-weight: bold;
    margin-top: 20px;
    padding: 5px;
}

/* styles HOME section with nav menu */
#home {
    background-color: #222;
    padding: 15px 0px;
}

/* formats search bar label per HTML feedback */
.offcanvas {
    display: none;
}

/* styles nav links universally */
#home nav a:link,
#home nav a:visited {
    color: rgba(199, 140, 6, 1);
    text-decoration: none;
}

/* styles home nav link */
#home nav .goldenrod li:nth-child(2) a:link,
#home nav .goldenrod li:nth-child(2) a:visited {
    color: #222;
}

/* styles logo image as a list item */
#home nav .goldenrod li:first-child {
    text-align: left;
}

/* adds padding to navigation list items */
#home nav li {
    padding: 30px 0px;
}

/* formats navigation list */
nav ul {
    text-align: center;
    list-style-type: none;
    padding-top: 5px;
    margin: 0;
    font-size: 1.25em;
}

/* adds goldenrod background color to logo/home wrapper */
#home nav .goldenrod {
    background-color: rgba(199, 140, 6, 1);
}

/* styles search form */
#home form button {
    background-color: #222;
    border-color: rgba(199, 140, 6, 1);
    border-width: 3px;
}

#home form i.material-icons {
    color: rgba(199, 140, 6, 1);
}

#home form input#search {
    flex-grow: 2;
}

#home form .search-form {
    display: flex;
}

/* styles BANNER section */
#banner {
    /* .. means back out of css file folder */
    background-image: url("../images/main-banner.jpg");
    padding: 50px 0px;
    background-size: cover;
    background-position: center;
}

.transparent-grey-box {
    background-color: rgba(34, 34, 34, 0.5);
    color: white;
    padding: 50px 5px;
}

/* styles ABOUT section */
#about {
    background-color: rgba(255, 230, 172, 1);
}

#about img,
#services img,
#team img {
    width: 100%;
}

section {
    padding: 50px 0px;
}

/* styles SERVICES section */

/* styles services cards */
div.card {
    background-color: rgba(255, 230, 172, 1);
    padding-bottom: 20px;
}

#services div.cards {
    display: grid;
    gap: 20px;
}

/* styles VISION section */

/* styles vision section image */
#vision {
    background-image: url("../images/vision.jpg");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* padding: 20px 0px; */
}

/* styles TEAM section */

/* styles team section member bios */
#team .bio {
    background-color: rgba(255, 230, 172, 1);
}

/* styles bio cards container */
#team div.bios {
    display: grid;
    gap: 20px;
}

/* styles CONTACT section */
#contact {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* styles form in contact section */
#contact form * {
    display: block;
    padding: 10px 0px;
}

#contact form input,
#contact form textarea {
    width: 100%;
    resize: none;
}

/* styles table in contact section */
#contact th,
td {
    border: 1px solid;
    padding: 10px;
    width: 500px;
}

#contact th {
    background-color: rgba(255, 230, 172, 1);
}

#contact h2 {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#contact h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* styles FOOTER section */
footer {
    background-color: #222;
    color: rgba(199, 140, 6, 1);
    margin-left: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2;
}

footer a:link,
footer a:visited {
    color: rgba(199, 140, 6, 1);
}

/* styles for desktop */

@media screen and (min-width: 760px) {
    /* all media queries go in here */

    /* removes gap between bios */
    #team div.bios {
        gap: 0px;
    }

    /* displays individual bio cards as two column grid */
    #team div.bios div.bio {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* formats bio card positions */
    #team div.bios div.bio:nth-child(2) img {
        grid-column: 2;
    }

    #team div.bios div.bio:nth-child(2) div {
        grid-column: 1;
        grid-row: 1;
    }

    /*  */
    #contact>div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    #contact>div>div:nth-child(3) {
        grid-row: 1;
        grid-column: 2;
    }

    #contact>div>div:nth-child(2) {
        grid-row: 2;
        grid-column: 1 / span 2;
    }

    #contact form {
        ;
    }

    /* formats services cards */
    #services div.cards {
        /* change to actual size, reference grid assignment */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #services div.cards>.card:nth-child(1) {
        flex-basis: calc(50% - (20px/2));
    }

    #services div.cards>.card:nth-child(2) {
        flex-basis: calc(50% - (20px/2));
    }

    #services div.cards>.card:nth-child(3) {
        flex-basis: calc(33% - (40px/3));
    }

    #services div.cards>.card:nth-child(4) {
        flex-basis: calc(33% - (40px/3));
    }

    #services div.cards>.card:nth-child(5) {
        flex-basis: calc(33% - (40px/3));
    }

    /* formats header */
    #home ul,
    div.goldenrod {
        display: flex;
        align-items: center;
    }

    #home ul li {
        padding: 10px 20px;
    }

    #home nav div.goldenrod {
        background-color: rgba(255, 230, 172, 0.0);
        gap: 30px;
    }

    #home nav div.goldenrod li {
        background-color: rgba(199, 140, 6, 1);
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}