/* Adds CSS reset copy/pasted from IMDAC
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* My CSS starts here */

/* Colours values used in the layout #c78c06, #ffe6ac, #222 and white */

/* formats search bar label per HTML feedback */
.offcanvas {
    position: relative;
}

.offcanvas>label {
    position: absolute;
    right: 200%;
}

/* Wasn't sure what this was for, commented it out Friday after Taro */
/* .wrapper {
    margin: auto;
    width: 80%;
} */

/* styles about section */
#about {
    background-color: rgba(255, 230, 172, 1);
}

/* styles services cards */
div.card {
    background-color: rgba(255, 230, 172, 1);
}

/* After Taro on Friday, plugged in universal style values */
h1 {
    font-size: 70px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

h4 {
    font-size 20px;
    font-weight: bold;
}

p {
    font-size 16px;
}

/* styles buttons universally; remove background-color and link color after styling specific buttons*/
.button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(199, 140, 6, 1);
    font-size: 20px;
    /* Why does "color:black" not change button font color to black? */
    color: black;
}

/* styles triangle icons in buttons universally */
.button i.material-icons {
    font-size: 2em;
    /* Why does "padding-top: 20px" not move the triangles down to align with button text? */
    padding-top: 20px;
}

.button:link,
.button:visited {
    text-decoration: none;
    color: white;
}

/* styles specific buttons */
#services .button {
    background-color: black;
}

/* changes body text to google fonts open sans */
body {
    font-family: "Open Sans", sans-serif;
}

/* formats navigation list */
nav ul {
    text-align: center;
    list-style-type: none;
    padding-top: 5px;
    margin: 0;
    font-size: 1.25em;
}

/* c/p from midterm: formats navigation list item display, inline block puts everything on one line */
nav li {
    display: inline-block;
}

/* formats banner image */
#banner {
    /* .. means back out of css file folder */
    background-image: url("../images/main-banner.jpg");
}

.transparent-grey-box {
    background-color: rgba(34, 34, 34, 0.5);
    color: white;
    padding: ;
    /* padding values in px top right bottom left */
}


/* after Taro on Friday, worked from bottom up */

#contact h2 {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#contact h3 {
    padding-bottom: 20px;
}

/* formats location subsection of contact section */

/* formats location subsection of contact section */

/* formats location subsection of contact section */

footer {
    background-color: black;
    color: rgba(199, 140, 6, 1);
    margin-left: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2;
}

footer a:visited {
    color: rgba(199, 140, 6, 1);
}


/* If a background goes all the way across the screen, the wrapper class has to be applied to another container inside the section. */