/* Adds CSS reset copy/pasted from IMDAC
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* My CSS starts here */

/* Colours values used in the layout #c78c06, #ffe6ac, #222 and white */

/* formats search bar label per HTML feedback */
.offcanvas {
    position: relative;
}

.offcanvas>label {
    position: absolute;
    right: 200%;
}

.wrapper {
    margin: auto;
    width: 80%;
}

/* styles about section */
#about {
    background-color: rgba(255, 230, 172, 1);
}

#about img, #services img, #team img {
    width: 100%;
}

section {
    padding: 50px 0px;
}

/* styles services cards */
div.card {
    background-color: rgba(255, 230, 172, 1);
    padding-bottom: 20px;
}

#services div.cards {
    display: grid;
    gap: 20px;
}

/* styles bio cards container */
#team div.bios {
    display: grid;
    gap: 20px;
}

/* after css reset, creates universal style values */
h1 {
    font-size: 70px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

h4 {
    font-size 20px;
    font-weight: bold;
}

p {
    font-size 16px;
}

/* styles buttons universally */
.button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

/* styles triangle icons in buttons universally */
.button i.material-icons {
    font-size: 2em;
    /* unable to move the triangles down to be in-line with text */
}

.button:link,
.button:visited {
    text-decoration: none;
    color: white;
}

/* styles specific buttons */
#services .button {
    background-color: black;
}

#vision .button {
    border: 2px solid rgba(199, 140, 6, 1);
    background-image: linear-gradient(to right, #0f1828, #16314d);
}

#banner .button {
    color: black;
    background-color: rgba(199, 140, 6, 1);
}

#contact button {
    background-color: black;
    color: rgba(199, 140, 6, 1);
    font-weight: bold;
}

/* styles home section with nav menu */

#home {
    background-color: #222;
    padding: 15px 0px;
}

/* styles nav links universally */
#home nav a:link, #home nav a:visited {
    color: rgba(199, 140, 6, 1);
    text-decoration: none;
}

/* styles home nav link */
#home nav .goldenrod li:nth-child(2) a:link, #home nav .goldenrod li:nth-child(2) a:visited {
    color: #222;
}

/* styles logo image as a list item */
#home nav .goldenrod li:first-child {
    text-align: left;
}

#home nav li {
    padding: 30px 0px;
}

/* formats navigation list */
nav ul {
    text-align: center;
    list-style-type: none;
    padding-top: 5px;
    margin: 0;
    font-size: 1.25em;
}

/* adds goldenrod background color to logo/home wrapper */
#home nav .goldenrod {
    background-color: rgba(199, 140, 6, 1);
}

/* styles search form */
#home form button {
    background-color: #222;
    border-color: rgba(199, 140, 6, 1);
    border-width: 3px;
}

#home form i.material-icons {
    color: rgba(199, 140, 6, 1);
}

#home form input#search {
   flex-grow: 2;
}

#home form .search-form {
    display: flex;
}

/* styles contact form */
#contact form * {
    display: block;
}

#contact form input, #contact form textarea {
    width: 100%;
    resize: none;
}

#team .bio {
    background-color: rgba(255, 230, 172, 1);
}

/* styles hours of operation table in contact section */
#contact th, td {
    border: 1px solid;
    padding: 10px;
    width: 500px;
}

#contact th {
    background-color:  rgba(255, 230, 172, 1);
}

/* changes body text to google fonts open sans */
body {
    font-family: "Open Sans", sans-serif;
}


/* formats banner image */
#banner {
    /* .. means back out of css file folder */
    background-image: url("../images/main-banner.jpg");
    padding: 50px 0px;
    background-size: cover;
    background-position: center;
}

#vision {
    background-image: url("../images/vision.jpg");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* padding: 20px 0px; */
}

.transparent-grey-box {
    background-color: rgba(34, 34, 34, 0.5);
    color: white;
    padding: 50px 5px;
    /* padding values in px top right bottom left */
}

#contact h2 {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#contact h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#contact {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    background-color: #222;
    color: rgba(199, 140, 6, 1);
    margin-left: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2;
}

footer a:link,
footer a:visited {
    color: rgba(199, 140, 6, 1);
}

/* styles for desktop */

@media screen and (min-width: 760px) {
    /* all media queries go in here */
    #services div.cards {
        /* change to actual size, reference grid assignment */
        grid-template-columns: 1fr 1fr;
    }
}
